<p>Список открытых игр</p>
<table border="1">
  <thead>
    <tr>
      <th>Код игры</th>
      <th>Статус</th>
      <th>Доступные действия</th>
    </tr>
  </thead>
  <tr *ngFor="let game of game_list">
    <td>{{ game.id }}</td>
    <td>{{ game.status_name }}</td>
    <td><a class="btn btn-success btn-sm" [routerLink]="['/connect', game.id]">Войти</a></td>
  </tr>
</table>