<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-success text-light">Поле игры</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <app-field [field]="field" [selectedLetter]="selectedLetter" [selectedWord]="selectedWord"
                            [cellWithSelectedLetter]="cellWithSelectedLetter" (onSelectWord)="onSelectWord($event)">
                        </app-field>
                        <app-info
                            *ngIf="current_game && current_game.status_name && current_game.myScore &&
                            current_game.opponentScore && current_game.lastStepWord && current_game.current_seconds_for_step"
                            [game_status]="current_game.status_name" [my_score]="current_game.myScore"
                            [opponent_score]="current_game.opponentScore" [lastStepWord]="current_game.lastStepWord"
                            [seconds_for_step]="current_game.current_seconds_for_step"></app-info>
                    </div>
                    <div class="col-6">
                        <app-letters *ngIf="current_game && current_game.status_id" [letters]="letters"
                            [game_status]="current_game.status_id" [selectedFields]="field.selected_fields"
                            (selectedLetter)="onSelectLetter($event)" [start_word]="field.start_word"></app-letters>
                        <app-events (resetChoosed)="onResetChoosed()" (onMakeStep)="onMakeStep()"
                            (onGameSoundsToggle)="onGameSoundsToggle()" [field]="field"
                            [cellWithSelectedLetter]="cellWithSelectedLetter" [gameSoundsEnabled]="gameSoundsEnabled">
                        </app-events>
                    </div>
                </div>
                <div class="row">
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-8">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header bg-success text-light">Мои ходы</div>
                    <div class="card-body">
                        <app-steps *ngIf="current_game && current_game.mySteps" [steps]="current_game.mySteps"></app-steps>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header bg-danger text-light">Ходы соперника</div>
                    <div class="card-body">
                        <app-steps *ngIf="current_game && current_game.opponentSteps" [steps]="current_game.opponentSteps"></app-steps>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>