<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a id="navbar-brand" class="navbar-brand" href="#">{{ title }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" 
    (click)="navbarCollapsed = !navbarCollapsed" 
    [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" 
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [ngbCollapse]="!navbarCollapsed" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/list">Список игр</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/help">Справка</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
<footer class="footer mt-auto py-3 bg-light">
  <a class="navbar-brand" href="/">Разработано в Dfof.ru в 2019 г. &copy;</a>
</footer>