<p class="margin0"><span class="badge badge-warning">До конца хода:</span> {{ seconds_for_step }}</p>
<p class="margin0"><span class="badge badge-info">Последнее слово:</span> {{ lastStepWord }}</p>
<p class="margin0"><span class="badge badge-info">Кто ходит?</span> {{ game_status }}</p>
<p class="margin0"><span class="badge badge-success">Мои очки:</span> {{ my_score }}</p>
<p class="margin0"><span class="badge badge-danger">Очки соперника:</span> {{ opponent_score }}</p>