<table border="1" *ngIf="field && field.fields">
    <tbody class="game_field">
        <tr *ngFor="let row of field.fields; let row_i = index;">
            <td *ngFor="let cell of row; let cell_i = index;" (click)="onSelectCell(cell)" [ngClass]="{
                selectedItem: cell.selected
                , selectedLetter: (cell.row_id == cellWithSelectedLetter.row_id && cell.cell_id == cellWithSelectedLetter.cell_id)
            }" class="unselected">
                {{(cell.row_id == cellWithSelectedLetter.row_id
                && cell.cell_id == cellWithSelectedLetter.cell_id) ? selectedLetter : cell['value']
                }}
            </td>
        </tr>
    </tbody>
</table>
<p class="margin0">Выбранная буква: {{selectedLetter}}</p>
<p class="margin0">Выбранное слово: {{selectedWord}}</p>