<button *ngIf="cellWithSelectedLetter && cellWithSelectedLetter.selected" type="button" class="btn btn-primary btn-sm btn-block" (click)="makeStep()"
[disabled]="!cellWithSelectedLetter.selected">Сделать ход</button>
<button *ngIf="field && field.selected_fields" type="button" class="btn btn-warning btn-sm btn-block" 
[disabled]="field.selected_fields.length == 0"
(click)="reset()">Отменить выбор</button>
<button type="button" class="btn btn-sm btn-block" (click)="gameSoundsToggle()"
[ngClass]="(gameSoundsEnabled) ? 'btn-secondary' : 'btn-success'">{{gameSoundsEnabled ? 'Отключить звуки игры': 'Включить звуки игры'}}</button>