/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
body{
	background-image: url(/assets/bg.jpg);
}

.selectedItem{
    color: red;
}

.cursor-pointer{
	cursor: pointer;
	display: inline-block;
}

.margin-0_5_5_0px{
	margin: 0 5px 5px 0;
}
.border-1px-dashed-blue{
	border: 1px dashed #036;
}
.padding-3px{
	padding: 3px;
}
.width-19px{
	width: 19px;
}
.font-bold{
	font-weight: bold;
}
.letter-color{
	color: #006;
}
.game_field > tr > td{	
	width: 21px;
	height: 26px;
	text-align: center;
	border: 1px solid black;
	font-weight: bold;
	font-size: 12pt;
}
.margin0{
	margin: 0;
}
.unselected{
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
} 
